.image-container{
  padding-top: 20%;
  padding-left: 15%;
  position: relative;
  padding-bottom: 11%;
}

.image-options{
  padding-top:20%;
  padding-right: 10%;   
  height:100%;
}

.wrapper-div{
    /* background-color: bisque; */
}

.color-options{
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.pink{
  background-color:palevioletred;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%;
}

.blue{
  background-color:blue;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%;
}
.yellow{
  background-color:yellow;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%;
}

.upload-button{
  color: white;
  padding-top: 2%;
  text-align: center;
  /* opacity: 0; */
}

.button-text{
  color: white;
  padding-left: 1%;
}

.myUpload{
  background-color: blueviolet;
}

.title{
  font-weight: bold;
  font-size: 50px;
}

.logo{
  width: 100px;
  height: 50px;
  position: absolute;
  top:68%;
  left: 48%;
}

.umbrellaImage{
  width:70%;
  height:90%;
  position: relative;
  
}

.hide{
  display: none;
}

.loader {
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  top:65%;
  left:50%;
  /* z-index: -1; */
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 20s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
