.wrapper-div{
  width: 100vw;
  height: 100vh;
}

.image-container{
  margin-top: 15%;
  position: relative;
  text-align: center;  
}

.image-options{
  margin-top:15%;
  margin-bottom: 8%; 
  height:100%;
}

.logo{
  width: 10%;
  height:5%;
  position: absolute;
  top:300px;
  left: 50%;
  margin-left: -5%;
}

.upload-button-loader{
  width: 7%;
  height: 7%;
  pointer-events: none; 
}

.loader {
  width: 40%;
  height: 20%;
  pointer-events: none;
  top: 120px;
  position: absolute;
  left: 50%;
  margin-left: -20%;
}

.umbrellaImage{
  width:400px;
  position: relative;  
  margin:20px,auto;
}

.color-options{
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

#files{
  display: none;
}

.deepPink{
  background-color:palevioletred;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%;
}

.blue{
  background-color:blue;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%; 
}

.click-blue{
  border-color: rgb(84, 146, 204);
  border-width: 4px;
  border-style: solid;
}

.click-deepPink{
  border-color: rgb(216, 145, 192);
  border-width: 4px;
  border-style: solid;
}

.click-yellow{
  border-color: rgb(212, 228, 121);
  border-width: 4px;
  border-style: solid;
}

.yellow{
  background-color:yellow;
  width: 30px;
  height: 30px;
  border-radius:15px ;
  margin:1%;
}

.upload-button{
  display: flex;
  color: white;
  padding: 1%;
  width:60%;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.customizeTitle{ 
  font-weight: 'bold';
  font-size: '26px';
}

.button-text{
  color: white;
  padding-left: 10%;
  padding-right:10%;
  overflow: hidden;
  white-space: nowrap; 
  width: 80%;
  text-overflow: ellipsis; 
}

.myUpload{
  background-color: blueviolet;
}

.title{
  font-weight: bold;
  font-size: 50px;
}

.hide{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 20s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .umbrellaImage{
    width: 200px;
  }
  .logo{
    top:150px
  }
  .loader{
    top:85px
  }
  .upload-button{
    width: 100%;    
  }
  .color-options{
    justify-content: center;
  }
  .customizeTitle{
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .umbrellaImage{
    width: 300px;
  }

  .loader{
    top:100px
  }
  .logo{
    top:220px
  }
  .upload-button{
    width: 100%;
  }
  .image-options{
    text-align: center;
  }
  .title{
    justify-content: center;
  }
  .color-options{
    justify-content: center;
  }
  .customizeTitle{
    font-size: 20px;
  }
}
